.footer-container {
    width: 100%;
    padding: 20px 10px;
    margin-top: 10px;
}

.foooter-flex {
    display: flex;
    justify-content: space-between;
}

.foooter-flex>div:not(.quick_links) {
    margin: 20px;
    padding: 10px;
}

.quick_links {
    margin: 30px;
    width: 500px;
}

.foooter-flex>div h3 {
    margin-bottom: 20px;
}

.foooter-flex>div ul {
    list-style: none;
}

.foooter-flex>div ul li {
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 2;
}

.foooter-flex>div ul li a {
    color: rgb(53, 48, 48);
}

.foooter-flex>div p {
    color: rgb(53, 48, 48);
    margin-bottom: 15px;
}

.foooter-flex>div input {
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    outline: none;
}

.foooter-flex>div input[type=submit] {
    color: #ffffff;
    background-color: #E52D27;
    font-size: 18px;
    border: none;
}

/* =============responsive code ============ */

@media (max-width:992px) {
    .foooter-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .foooter-flex>div {
        width: 44%;
        margin: 10px;
    }

    .quick_links {
        margin: 20px;
        padding: 10px;
    }

}

@media (max-width:768px) {
    .foooter-flex>div {
        width: 100%;
    }
}